{% extends "index.html" %}
{% block estilos %}
<!-- <link rel="stylesheet" href="../csInvalid module name: 'Prueba_1' - must be a valid Dart package name (lower_case_with_underscores).s/portada.css"> -->
<link rel="stylesheet" href="../css/actividad.css">
<link rel="stylesheet" href="../css/comentarios.css">
<link rel="stylesheet" href="../css/carrusel.css">
{% endblock %}
    {% block actividades %}
            <h2>{{ actividad['nombre'] }}</h2>
            <div class="container-columns">
                <div class="container-columns-content">
                    <div class="informacion">
                            <h4>Descripción Actividad</h4>
                            <p>{{ actividad['descripcion'] }}</p> 
                            <h4>recomendaciones</h4>
                            <p>{{ actividad['recomendaciones'] }}</p>
                            <p class="fecha">Fecha de Realización de la Actividad: {{ actividad['fecha'] }}</p>
                            <h4 class="precio-actividad">{{ actividad['precio'] }}</h4>
                            <a class="direccion" href={{ actividad['ubicacion_url'] }}>
                                <p>{{ actividad['ubicacion_nombre'] }}</p>   
                            </a>
                    </div>
                    <div class="carrusel">
                        <div class="grande">
                            {% for foto in actividad.fotos %}
                            <img class="foto" src="{{ foto.ruta }}" alt="{{ actividad['nombre'] }}">
                            {% endfor %}
                        </div>
                        <ul class="puntos">
                            <!-- <li class="punto activo"></li>
                            <li class="punto"></li> -->
                            {% for foto in actividad.fotos %}
                            <li class="punto {% if loop.first %}activo{% endif %}"></li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
                <div class="container-columns-buttons">
                    <a href="../actividad_imprimir/{{ actividad['idAc'] }}">
                        <button class="button-imprimir">Imprimir</button>
                    </a>
                    <a href="#">
                        <button class="button-twitter">Twitter</button>
                    </a>
                    <a href="#">
                        <button class="button-facebook">Facebook</button>
                    </a>
                    <a href="#">
                        <button id="button-comments">Comentarios</button>
                    </a>
                </div>
                <div id="comments" class="oculto" class="visible">
                    {% for DetalleComentario in comentarios %}
                    <div class="comment">
                        <img class="foto-perfil" src="{{ DetalleComentario.url_foto_perfil }}">
                        <h5 class="name-user">{{ DetalleComentario.nombre_usuario }}</h5>
                        <p class="comment-p">{{ DetalleComentario.comentario }}</p>
                        <p class="comment-date">{{ DetalleComentario.fecha_comentario }} <span class="date"></span></p>
                    </div>
                    {% endfor %}

                    <div class="content-form">
                        <form action="../comentario.php" id="form" method="post" enctype="multipart/form-data">
                            <input type="hidden" name="ac" value="{{ actividad['idAc'] }}">
                            <div class="imagen">
                                <label for="">Subir Foto Perfil</label>
                                <input type="file" id="input-image" name="input-image" accept="image/*"><!--Aceptamos cualquier formato de imagen-->
                            </div>
                            <div class="input-name">
                                <label for="">Nombre:</label>
                                <input id="input-name" type="text" name="input-name">
                            </div>
                            <div class="input-correo">
                                <label for="">Correo Electrónico:</label>
                                <input id="input-correo" type="text" name="input-correo">
                            </div>
                            <div class="input-comentario">
                                <label for="">Comentario:</label>
                                <textarea id="input-comment" name="input-comentario"></textarea>
                            </div>
                            <input type="submit" id="set-formulario" name="enviar" placeholder="Enviar"/>
                        </form>
                    </div>
                </div>
            </div>
    {% endblock %}
{% block js %}
<script type="module" src="../js/carrusel.js" defer></script>
<script type="module" src="../js/comentarios.js" defer></script>
<script type="module" src="../js/mostrar_comentarios.js" defer></script>
<script type="module" src="../js/palabras_prohibidas.js" defer></script>
{% endblock %}
